body {
    font-family: sans-serif;
    background: url("../img/background.png");
}

a.navtitle {
    text-decoration: none;
    text-align: center;
}

a, h1, h2 {
    color: #377BA8;
}

h1, h2 {
    font-family: "Georgia", "Helvetica", "sans-serif"
    serif; margin: 0;
}

h1 {
    border-bottom: 2px solid #EEEEEE;
}

h2 {
    font-size: 1.2em;
}

.page {
    margin: 2em auto;
    width: 40em;
    border: 5px solid #CCCCCC;
    padding: 0.8em;
    background: white;
}

.entries {
    list-style: none;
    margin: 0;
    padding: 0;
}

.entries li {
    margin: 0.8em 1.2em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #EFEFEF;
}

.entries li h2 {
    margin-left: -1em;
}

.entry {
    color: #377BA8;
}

a.amazon {
    text-decoration: none;
}

.count {
    font-family: fantasy ;
    font-size: 0.8em;
    color: #0404BA;
    float: right;
}

.thumb-up {
    width: 16px;
    height: 16px;
}

fieldset {
    border: 2px solid #EEEEEE;
}

legend {
    padding: 0.2em 0.2em;
    font-size: 120%;
    color: #377BA8;
}

.add-game {
    font-size: 0.9em;
}

.add-game dl {
    font-weight: bold;
}

.metanav {
    text-align: right;
    font-size: 0.8em;
    padding: 0.3em;
    margin-bottom: 1em;
    background: #FAFAFA;
}

.metanav a {
    text-decoration: none;
}

.metanav a:hover {
    color: #0404BA;
}

.flash {
    background: #CEE5F5;
    padding: 0.5em;
    border: 1px solid #AACBE2;
}

.error {
    background: #F0D6D6;
    padding: 0.5em;
}

.login {
    font-size: 0.9em;
}

.lbl {
    margin: 10px 10px;
    color: #377BA8;
}

.ipt {
    margin: 10px 10px;
}

.register {
    font-family: "Helvetica", sans-serif;
}

.register td {
    padding-left: 10px;
}

.register th {
    font-size: 0.9em;
    font-weight: normal;
    color: #377BA8;
    text-align: right;
}

.helptext {
    font-size: 0.5em;
    color: #303030;
}

.errorlist {
    list-style: none;
    font-family: "Helvetica", sans-serif;
    color: #FF0000;
    font-size: 0.8em;
}

.errorlist li {
    vertical-align: middle;
    float: right;
}
