<!doctype html>
<html>
<head>
    <title>Xbox Game Voting</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
</head>
<body>
    <div class="page">
        <h1>Xbox Game Voting Application</h1>
        <div class="metanav">
            {% block session %}
                {% if user.is_authenticated %}                    
                    <a href="{% url django.contrib.auth.views.logout %}">Logout</a>                
                {% else %}                    
                    <a href="{% url django.contrib.auth.views.login %}">Log in</a> |
                    <a href="{% url register %}">Register</a>
                {% endif %}
            {% endblock %}
        </div>
        {% block flash %}{% endblock %}
        {% block body %}{% endblock %}
    </div>
</body>
</html>