<!doctype html>
<html>
<head>
    {% block title %}<title>Xbox Game Voting</title>{% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
    {% block jscript %}
    {% endblock %}
</head>

<body>
    <div class="page">
        <a class="xgva" href="{% url index %}"><h1>Xbox Game Voting Application</h1></a>
        <div class="metanav">
            <a href="{% url wishes %}">Wished</a> |
            <a href="{% url owned %}">Owned</a> |
            {% if user.is_authenticated %}
                <a href="{% url buy_game %}">Buy</a> |
                <a href="{% url django.contrib.auth.views.logout %}">Logout</a>
            {% else %}
                <a href="{% url django.contrib.auth.views.login %}">Log in</a> |
                <a href="{% url register %}">Register</a>
            {% endif %}
        </div>

        {% if messages %}
            {% for message in messages %}
                <div class="flash">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        {% block body %}{% endblock %}
    </div>
</body>
</html>