{% extends "base.html" %}

{% block title %}
    <title>Game Wished</title>
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <form method="post" action="{% url add_game %}" class="add-game" id="add_game_form">
            <div id="add_game">
                {% csrf_token %}
                <fieldset>
                    <legend>Make A Wish</legend>
                    <label for="game" style="float: left; margin-right: 0.5em; padding-bottom: 0.5em; color: #377BA8;">Title:</label>
                    <br/>
                    <input type="text" size="60" name="game" id="game" style="font-size: 150%; width: 100%; height: 30px;" />
                    <br/>
                    <label for="amazon" style="float: left; margin-right: 0.5em; padding-top: 0.5em; padding-bottom: 0.5em; color: #377BA8;">Amazon Link (optional):</label>
                    <br/>
                    <input type="text" size="60" name="amazon" id="amazon" style="font-size: 150%; width: 100%; height: 30px;" />
                    <br/>
                    <input type="submit" value="Add" id="add_game_button" style="float: right; margin-top: 0.5em; margin-right: 18px;" />
                </fieldset>
            </div>
        </form>
    {% endif %}
    
    <ul class="entries">
    {% for v in vote_list %}
        <li>
            <a href="{% if v.game.link != "" %}{{ v.game.link }}{% else %}#{% endif %}" class="amazon" {% if v.game.link != "" %}target="_blank"{% endif %}>
            <span class="entry">
               {{ v.game.title|escape }}&nbsp&nbsp&nbsp<span class="count">( {{ v.count }} vote{{ v.count|pluralize }} )</span>
                    <a href="{% url thumb_up v.game.id %}"><img class="thumb-up" src="{{ STATIC_URL }}img/thumb-up.png" alt="Click Me to Vote"></a>
            </span>
            </a>
        </li>
    {% empty %}
        <li><span class="entry">"Oh My, there is no game wanted!"</span></li>
    {% endfor %}
    </ul>
{% endblock %}